body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #374151;
    color: white; /* Endrer tekstfargen til hvit for hele siden */
}

header {
    text-align: center;
    margin-top: 20px; /* Gir litt plass på toppen */
    margin-bottom: 20px;
    width: 100%;
}

header a {
    display: inline-block;
    margin-top: 10px;
    font-size: 16px;
    color: white; /* Gjør lenken hvit */
}

/* For the two sections (left and right) */
#left-section, #right-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    margin-bottom: 20px;
}

/* Make sure the sections are placed side by side */
.main-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px; /* Limit the width to make it look better on large screens */
    gap: 20px;
}

#canvas-container {
    margin-top: 20px;
}

canvas {
    border: 1px solid #000;
}

.info {
    font-size: 1.2em;
    margin-top: 10px;
}

#binaryCodeContainer {
    margin-top: 20px;
}

#imageUpload {
    margin-bottom: 10px;
}

#binaryCodeContainer button {
    margin-top: 10px;
    color: white; /* Gjør teksten på knappen hvit */
    background-color: #374151; /* Gir knappene en mørk bakgrunn for kontrast */
    border: 1px solid #ffffff; /* Gir knappene en hvit kant */
}

/* For image and content placement */
.flex-image {
    flex: 2;
}

.flex-content {
    flex: 1;
}
